.home-steps{
    padding: auto;
    width: auto;
    height: auto;
    background-color: #8C7AD2F0;
}

.home-steps h1{
    color: black;
    text-align: center;
    padding-top: 4vw;
    color: aliceblue;
    padding: 3vw;
}



.home-steps-box{
    padding: auto;
    width: 80%;
    background-color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 35px ;
    padding-bottom: 0px !important;
}

.home-steps-box p{
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1vw;
}

.home-steps-body{

}

.home-steps-btn-cover{
    display: flex;
    align-items: end;
    justify-content: end;
    padding-bottom: 2vw;
}

.home-steps-btn{
    display: inline-block;
    
    margin: 3vw;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3rem;
    transition: color .30s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.home-intro-btn-primary {
    --bs-btn-color: #4B3A93;
    --bs-btn-bg: #FFFFFF;
    --bs-btn-border-color: #FFFFFF;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #4B3A93;
    --bs-btn-hover-border-color: #4B3A93;
    --bs-btn-focus-shadow-rgb: #656565;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #4B3A93;
    --bs-btn-active-border-color: #4B3A93;
    --bs-btn-active-shadow: inset 0 3px 5px #656565;
    --bs-btn-disabled-color: #656565;
    --bs-btn-disabled-bg: #656565;
    --bs-btn-disabled-border-color: #656565;
}